include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include local_app *.css
recursive-include local_app *.csv
recursive-include local_app *.html
recursive-include local_app *.ico
recursive-include local_app *.js
recursive-include local_app *.json
recursive-include local_app *.md
recursive-include local_app *.png
recursive-include local_app *.py
recursive-include local_app *.svg
recursive-include local_app *.txt
recursive-exclude local_app *.pyc